In [1]:
pip install pandas sqlalchemy mysql-connector-python

Requirement already satisfied: pandas in c:\users\admin\anaconda3\lib\site-packages (2.2.2)
Requirement already satisfied: sqlalchemy in c:\users\admin\anaconda3\lib\site-packages (2.0.34)
Collecting mysql-connector-python
  Downloading mysql_connector_python-9.3.0-cp312-cp312-win_amd64.whl.metadata (7.7 kB)
Requirement already satisfied: numpy>=1.26.0 in c:\users\admin\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\admin\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\admin\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\admin\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\admin\anaconda3\lib\site-packages (from sqlalchemy) (4.11.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\admin\anaconda3\lib\site-packages (from sqlalchemy) (3.0.1)
Requirement already satisfied: six>=1.5 in c:\users\admin\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Downloading mysql_connector_python-9.3.0-cp312-cp312-win_amd64.whl (16.4 MB)
   ---------------------------------------- 0.0/16.4 MB ? eta -:--:--
   ----- ---------------------------------- 2.4/16.4 MB 12.2 MB/s eta 0:00:02
   ---------- ----------------------------- 4.5/16.4 MB 11.2 MB/s eta 0:00:02
   ------------ --------------------------- 5.0/16.4 MB 8.4 MB/s eta 0:00:02
   ------------- -------------------------- 5.5/16.4 MB 6.7 MB/s eta 0:00:02
   --------------- ------------------------ 6.3/16.4 MB 6.1 MB/s eta 0:00:02
   ------------------ --------------------- 7.6/16.4 MB 6.0 MB/s eta 0:00:02
   ----------------------- ---------------- 9.4/16.4 MB 6.4 MB/s eta 0:00:02
   --------------------------- ------------ 11.3/16.4 MB 6.7 MB/s eta 0:00:01
   -------------------------------- ------- 13.1/16.4 MB 6.9 MB/s eta 0:00:01
   ---------------------------------- ----- 14.2/16.4 MB 6.7 MB/s eta 0:00:01
   ------------------------------------- -- 15.5/16.4 MB 6.7 MB/s eta 0:00:01
   ---------------------------------------  16.3/16.4 MB 6.5 MB/s eta 0:00:01
   ---------------------------------------  16.3/16.4 MB 6.5 MB/s eta 0:00:01
   ---------------------------------------  16.3/16.4 MB 6.5 MB/s eta 0:00:01
   ---------------------------------------- 16.4/16.4 MB 5.1 MB/s eta 0:00:00
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-9.3.0
Note: you may need to restart the kernel to use updated packages.

In [ ]:
from sqlalchemy import create_engine
import pandas as pd

user = 'root'
password = '12345'
host = 'localhost'     
port = '3306'          
database = 'astro'

In [13]:
from sqlalchemy import create_engine

engine= create_engine('mysql+pymysql://root:Joy@1035 @localhost:3306/astro')

In [22]:
import pandas as pd

In [23]:
data= pd.read_csv('asteroids_data.csv')

In [24]:
df=pd.DataFrame(data)

In [15]:
engine= create_engine('mysql+pymysql://root:Joy@1035 @localhost:3306/astro')

In [26]:
engine = create_engine("mysql+pymysql://root:12345@localhost:3306/astro")
df.to_sql(name='asteroids', con=engine, if_exists='replace', index=False)

10000

In [ ]:
from sqlalchemy import create_engine
import pandas as pd

engine = create_engine('mysql+pymysql://root:12345@localhost:3306/astro')

df = pd.read_csv('asteroids_data.csv')

asteroids_cols = [
    'id',
    'name',
    'absolute_magnitude_h',
    'estimated_diameter_min',
    'estimated_diameter_max',
    'is_potentially_hazardous_asteroid'
]

close_approach_cols = [
    'neo_list_id',
    'close_approach_date',
    'relative_velocity',
    'miss_distance_km',
    'miss_distance_miles',
    'orbiting_body'
]

asteroids_df = df[asteroids_cols].drop_duplicates()
close_approach_df = df[close_approach_cols]

asteroids_df.to_sql(name='asteroids', con=engine, if_exists='replace', index=False)
close_approach_df.to_sql(name='close_approach', con=engine, if_exists='replace', index=False)

10000